# Manipulación de datos (Ejercicios 1)

In [ ]:
from sklearn.datasets import load_iris
df_iris = load_iris(as_frame=True).frame
df_iris.head()

**Ejercicio 1.** Visualiza las primeras 10 ocurrencias del dataset.

In [ ]:
from sklearn.datasets import load_iris

# Cargar el dataset Iris
df_iris = load_iris(as_frame=True).frame

# Visualizar las primeras 10 ocurrencias
df_iris.head(10)

**Ejercicio 2.** Muestra información general del dataset como el número de entradas, el nombre de las columnas, el número de nulos, y el tipo de cada columna. *Utliza únicamente una función*

In [ ]:
# Mostrar información general del dataset
df_iris.info()

**Ejercicio 3.** En la columna target, el número 0 corresponde a la etiqueta 'setosa', el 1 a 'versicolor' y el 2 a 'virginica'. Modifica el dataset para que aparezcan los nombres en vez de los números.

In [ ]:
# Mostrar el resumen estadístico del dataset
df_iris.describe()
# Renombrar las columnas
df_iris_renamed = df_iris.rename(columns={
    'sepal length (cm)': 'longitud_sépalo_cm',
    'sepal width (cm)': 'ancho_sépalo_cm',
    'petal length (cm)': 'longitud_pétalo_cm',
    'petal width (cm)': 'ancho_pétalo_cm',
    'target': 'objetivo'
})

df_iris_renamed.head()

**Ejercicio 4.** Utilizando LabelEncoder transforma la columna target a valores numéricos.

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Inicializar LabelEncoder
label_encoder = LabelEncoder()

# Transformar las etiquetas numéricas a nominativas
df_iris_renamed['especie_nominativa'] = label_encoder.fit_transform(df_iris_renamed['objetivo'])

# Mostrar las primeras filas con la columna transformada
df_iris_renamed[['objetivo', 'especie_nominativa']].head()

# Invertir la transformación de vuelta a números
df_iris_renamed['especie_numérica'] = label_encoder.inverse_transform(df_iris_renamed['especie_nominativa'])

# Mostrar las primeras filas con la columna revertida
df_iris_renamed[['objetivo', 'especie_nominativa', 'especie_numérica']].head()

### Explicación del Código
Transformar etiquetas numéricas a nominativas: Utilizamos LabelEncoder para convertir la columna objetivo (que contiene números) a etiquetas nominativas. Esto se guarda en una nueva columna especie_nominativa.
Revertir la transformación a números: Utilizamos de nuevo LabelEncoder para convertir las etiquetas nominativas de vuelta a sus valores numéricos originales. Esto se guarda en una nueva columna especie_numérica.
Este código asegurará que las transformaciones se realicen correctamente y puedes verificar los resultados mostrando las primeras filas del DataFrame.

**Ejercicio 5.** Utilizando LabelEncoder vuelve a transformarlo en características nominativas. Posteriormente, dejalo con números otra vez.

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Inicializar LabelEncoder
label_encoder = LabelEncoder()

# Transformar las etiquetas numéricas a nominativas
df_iris_renamed['especie_nominativa'] = label_encoder.fit_transform(df_iris_renamed['objetivo'])

# Mostrar las primeras filas con la columna transformada a nominativas
print("Transformación a nominativas:")
print(df_iris_renamed[['objetivo', 'especie_nominativa']].head())

# Invertir la transformación de vuelta a números
df_iris_renamed['especie_numerica'] = label_encoder.inverse_transform(df_iris_renamed['especie_nominativa'])

# Mostrar las primeras filas con la columna revertida a números
print("\nReversión a números:")
print(df_iris_renamed[['objetivo', 'especie_nominativa', 'especie_numerica']].head())

#### Explicación del Código
Transformar etiquetas numéricas a nominativas:

Utilizamos LabelEncoder para convertir la columna objetivo (que contiene números) a etiquetas nominativas.
Guardamos esta transformación en una nueva columna especie_nominativa.
Revertir la transformación a números:

Utilizamos de nuevo LabelEncoder para convertir las etiquetas nominativas de vuelta a sus valores numéricos originales.
Guardamos esta transformación en una nueva columna especie_numerica.
Imprimir resultados:

Mostramos las primeras filas del DataFrame con las columnas objetivo, especie_nominativa, y especie_numerica para verificar que las transformaciones se han realizado correctamente.

**Ejercicio 6.** Comprueba el número de ocurrencias de cada uno de los valores de la característica *target*.

In [ ]:
# Contar el número de ocurrencias de cada uno de los valores de la característica target
ocurrencias_target = df_iris['target'].value_counts()

# Mostrar los resultados
ocurrencias_target

**Ejercicio 7.** Identifica aquellas columnas que tengan algún valor nulo.

In [ ]:
# Identificar columnas con valores nulos
columnas_con_nulos = df_iris_renamed.isnull().sum()

# Filtrar sólo aquellas columnas que tienen valores nulos
columnas_con_nulos = columnas_con_nulos[columnas_con_nulos > 0]

# Mostrar los resultados
columnas_con_nulos

**Ejercicio 8.** Crea una columna llamada 'sepal total' que contenga el resultado de multiplicar 'sepal length' por 'sepal width'

In [ ]:
# Crear la columna 'sepal_total' multiplicando 'sepal length (cm)' por 'sepal width (cm)'
df_iris_renamed['sepal_total'] = df_iris_renamed['longitud_sépalo_cm'] * df_iris_renamed['ancho_sépalo_cm']

# Mostrar las primeras filas del DataFrame con la nueva columna
df_iris_renamed[['longitud_sépalo_cm', 'ancho_sépalo_cm', 'sepal_total']].head()

**Ejercicio 9.** Elimina la columna que hemos creado anteriormente.

In [ ]:
# Eliminar la columna 'sepal_total'
df_iris_renamed.drop(columns=['sepal_total'], inplace=True)

# Verificar que la columna ha sido eliminada mostrando las primeras filas del DataFrame
df_iris_renamed.head()

**Ejercicio 10.** Normaliza entre 0 y 1 los valores de todas las columnas. No modifiques el anterior dataframe, y crea uno nuevo indicando que está normalizado, por ejemplo con el nombre 'df_iris_normalizado'

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Inicializar el escalador MinMaxScaler
scaler = MinMaxScaler()

# Seleccionar las columnas que queremos normalizar (todas menos 'objetivo')
columnas_a_normalizar = df_iris_renamed.columns.difference(['objetivo', 'especie_nominativa', 'especie_numérica'])

# Aplicar el escalador a las columnas seleccionadas
df_iris_normalizado = df_iris_renamed.copy()
df_iris_normalizado[columnas_a_normalizar] = scaler.fit_transform(df_iris_renamed[columnas_a_normalizar])

# Mostrar las primeras filas del nuevo DataFrame normalizado
df_iris_normalizado.head()

**Ejercicio 11.** Estandariza los valores de todas las columnas. No modifiques el anterior dataframe, y crea uno nuevo indicando que está estandarizado, por ejemplo con el nombre 'df_iris_estandarizado'

In [ ]:
from sklearn.preprocessing import StandardScaler

# Inicializar el StandardScaler
scaler = StandardScaler()

# Estandarizar los valores
df_iris_estandarizado = df_iris_renamed.copy()
df_iris_estandarizado[columnas_numericas] = scaler.fit_transform(df_iris_renamed[columnas_numericas])

# Mostrar las primeras filas del DataFrame estandarizado
df_iris_estandarizado.head()

**Ejercicio 10.** Describe las variables del dataframe sin normalizar, del dataframe normalizado y del dataframe standarizado.