# Manipulación de datos (Ejercicios 1)

In [ ]:
from sklearn.datasets import load_iris
df_iris = load_iris(as_frame=True).frame
df_iris.head()

**Ejercicio 1.** Visualiza las primeras 10 ocurrencias del dataset.

**Ejercicio 2.** Muestra información general del dataset como el número de entradas, el nombre de las columnas, el número de nulos, y el tipo de cada columna. *Utliza únicamente una función*

**Ejercicio 3.** En la columna target, el número 0 corresponde a la etiqueta 'setosa', el 1 a 'versicolor' y el 2 a 'virginica'. Modifica el dataset para que aparezcan los nombres en vez de los números.

**Ejercicio 4.** Utilizando LabelEncoder transforma la columna target a valores numéricos.

**Ejercicio 5.** Utilizando LabelEncoder vuelve a transformarlo en características nominativas. Posteriormente, dejalo con números otra vez.

**Ejercicio 6.** Comprueba el número de ocurrencias de cada uno de los valores de la característica *target*.

**Ejercicio 7.** Identifica aquellas columnas que tengan algún valor nulo.

**Ejercicio 8.** Crea una columna llamada 'sepal total' que contenga el resultado de multiplicar 'sepal length' por 'sepal width'

**Ejercicio 9.** Elimina la columna que hemos creado anteriormente.

**Ejercicio 10.** Normaliza entre 0 y 1 los valores de todas las columnas. No modifiques el anterior dataframe, y crea uno nuevo indicando que está normalizado, por ejemplo con el nombre 'df_iris_normalizado'

**Ejercicio 11.** Estandariza los valores de todas las columnas. No modifiques el anterior dataframe, y crea uno nuevo indicando que está estandarizado, por ejemplo con el nombre 'df_iris_estandarizado'

**Ejercicio 10.** Describe las variables del dataframe sin normalizar, del dataframe normalizado y del dataframe standarizado.