# Actividad evaluable UD03. Manipulación de datos

# Descargar el dataset

In [20]:
# Libraries to handle data
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import io
from sklearn.utils import shuffle

## Carga del fichero en Python
df_train = pd.read_csv('tiempoAustralia.csv', delimiter=',')

# Ejercicio 1. Mostrar información del dataset (1.5 puntos)

1.   Mostrar las primeras 10 filas del dataset.

In [21]:
print(df_train.head(10))

  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine WindGustDir  \
0   Albury     13.4     22.9       0.6          NaN       NaN           W
1   Albury      7.4     25.1       0.0          NaN       NaN         WNW
2   Albury     12.9     25.7       0.0          NaN       NaN         WSW
3   Albury      9.2     28.0       0.0          NaN       NaN          NE
4   Albury     17.5     32.3       1.0          NaN       NaN           W
5   Albury     14.6     29.7       0.2          NaN       NaN         WNW
6   Albury     14.3     25.0       0.0          NaN       NaN           W
7   Albury      7.7     26.7       0.0          NaN       NaN           W
8   Albury      9.7     31.9       0.0          NaN       NaN         NNW
9   Albury     13.1     30.1       1.4          NaN       NaN           W

   WindGustSpeed WindDir9am WindDir3pm  ...  Humidity3pm  Pressure9am  \
0           44.0          W        WNW  ...         22.0       1007.7
1           44.0        NNW        WSW  ...         25.0       1010.6
2           46.0          W        WSW  ...         30.0       1007.6
3           24.0         SE          E  ...         16.0       1017.6
4           41.0        ENE         NW  ...         33.0       1010.8
5           56.0          W          W  ...         23.0       1009.2
6           50.0         SW          W  ...         19.0       1009.6
7           35.0        SSE          W  ...         19.0       1013.4
8           80.0         SE         NW  ...          9.0       1008.9
9           28.0          S        SSE  ...         27.0       1007.0

   Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  RainTomorrow  \
0       1007.1       8.0       NaN     16.9     21.8         No            No
1       1007.8       NaN       NaN     17.2     24.3         No            No
2       1008.7       NaN       2.0     21.0     23.2         No            No
3       1012.8       NaN       NaN     18.1     26.5         No            No
4       1006.0       7.0       8.0     17.8     29.7         No            No
5       1005.4       NaN       NaN     20.6     28.9         No            No
6       1008.2       1.0       NaN     18.1     24.6         No            No
7       1010.1       NaN       NaN     16.3     25.5         No            No
8       1003.6       NaN       NaN     18.3     30.2         No           Yes
9       1005.7       NaN       NaN     20.1     28.2        Yes            No

   Month
0     12
1     12
2     12
3     12
4     12
5     12
6     12
7     12
8     12
9     12

[10 rows x 23 columns]

2.   Mostrar información básica del dataframe con las columnas que lo componen, número valores no nulos, número valores nulos y tipo de datos de la columna.

In [22]:
# Mostrar información básica del dataframe
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       145460 non-null  object
 1   MinTemp        143975 non-null  float64
 2   MaxTemp        144199 non-null  float64
 3   Rainfall       142199 non-null  float64
 4   Evaporation    82670 non-null   float64
 5   Sunshine       75625 non-null   float64
 6   WindGustDir    135134 non-null  object
 7   WindGustSpeed  135197 non-null  float64
 8   WindDir9am     134894 non-null  object
 9   WindDir3pm     141232 non-null  object
 10  WindSpeed9am   143693 non-null  float64
 11  WindSpeed3pm   142398 non-null  float64
 12  Humidity9am    142806 non-null  float64
 13  Humidity3pm    140953 non-null  float64
 14  Pressure9am    130395 non-null  float64
 15  Pressure3pm    130432 non-null  float64
 16  Cloud9am       89572 non-null   float64
 17  Cloud3pm       86102 non-null   float64
 18  Temp9am        143693 non-null  float64
 19  Temp3pm        141851 non-null  float64
 20  RainToday      142199 non-null  object
 21  RainTomorrow   142193 non-null  object
 22  Month          145460 non-null  int64
dtypes: float64(16), int64(1), object(6)
memory usage: 25.5+ MB
None

3.   Mostrar información básica de cada columna (numero ocurrencias, media, desviación típica, valor mínimo, el valor máximo, y los límites de los cuartiles 25%, 50% y 75%)

In [23]:
# Mostrar información descriptiva básica de cada columna
print(df_train.describe(include='all'))

        Location        MinTemp        MaxTemp       Rainfall   Evaporation  \
count     145460  143975.000000  144199.000000  142199.000000  82670.000000
unique        49            NaN            NaN            NaN           NaN
top     Canberra            NaN            NaN            NaN           NaN
freq        3436            NaN            NaN            NaN           NaN
mean         NaN      12.194034      23.221348       2.360918      5.468232
std          NaN       6.398495       7.119049       8.478060      4.193704
min          NaN      -8.500000      -4.800000       0.000000      0.000000
25%          NaN       7.600000      17.900000       0.000000      2.600000
50%          NaN      12.000000      22.600000       0.000000      4.800000
75%          NaN      16.900000      28.200000       0.800000      7.400000
max          NaN      33.900000      48.100000     371.000000    145.000000

            Sunshine WindGustDir  WindGustSpeed WindDir9am WindDir3pm  ...  \
count   75625.000000      135134  135197.000000     134894     141232  ...
unique           NaN          16            NaN         16         16  ...
top              NaN           W            NaN          N         SE  ...
freq             NaN        9915            NaN      11758      10838  ...
mean        7.611178         NaN      40.035230        NaN        NaN  ...
std         3.785483         NaN      13.607062        NaN        NaN  ...
min         0.000000         NaN       6.000000        NaN        NaN  ...
25%         4.800000         NaN      31.000000        NaN        NaN  ...
50%         8.400000         NaN      39.000000        NaN        NaN  ...
75%        10.600000         NaN      48.000000        NaN        NaN  ...
max        14.500000         NaN     135.000000        NaN        NaN  ...

          Humidity3pm   Pressure9am    Pressure3pm      Cloud9am  \
count   140953.000000  130395.00000  130432.000000  89572.000000
unique            NaN           NaN            NaN           NaN
top               NaN           NaN            NaN           NaN
freq              NaN           NaN            NaN           NaN
mean        51.539116    1017.64994    1015.255889      4.447461
std         20.795902       7.10653       7.037414      2.887159
min          0.000000     980.50000     977.100000      0.000000
25%         37.000000    1012.90000    1010.400000      1.000000
50%         52.000000    1017.60000    1015.200000      5.000000
75%         66.000000    1022.40000    1020.000000      7.000000
max        100.000000    1041.00000    1039.600000      9.000000

            Cloud3pm        Temp9am       Temp3pm  RainToday  RainTomorrow  \
count   86102.000000  143693.000000  141851.00000     142199        142193
unique           NaN            NaN           NaN          2             2
top              NaN            NaN           NaN         No            No
freq             NaN            NaN           NaN     110319        110316
mean        4.509930      16.990631      21.68339        NaN           NaN
std         2.720357       6.488753       6.93665        NaN           NaN
min         0.000000      -7.200000      -5.40000        NaN           NaN
25%         2.000000      12.300000      16.60000        NaN           NaN
50%         5.000000      16.700000      21.10000        NaN           NaN
75%         7.000000      21.600000      26.40000        NaN           NaN
max         9.000000      40.200000      46.70000        NaN           NaN

                Month
count   145460.000000
unique            NaN
top               NaN
freq              NaN
mean         6.399615
std          3.427262
min          1.000000
25%          3.000000
50%          6.000000
75%          9.000000
max         12.000000

[11 rows x 23 columns]

4.   Mostrar una lista con el nombre de columnas que son categóricas

In [24]:
# Identificar columnas categóricas
categorical_columns = df_train.select_dtypes(include=['object']).columns.tolist()
print("Columnas categóricas:", categorical_columns)

Columnas categóricas: ['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow']

# Ejercicio 2. Trabajo sobre ocurrencias (1.5 puntos)

1. Muestra el número de ocurrencias de los diferentes valores de 'RainTomorrow'.

In [25]:
# Contar ocurrencias de los diferentes valores de 'RainTomorrow'
print(df_train['RainTomorrow'].value_counts())

RainTomorrow
No     110316
Yes     31877
Name: count, dtype: int64

2. Modifica el dataframe balanceando las ocurrencias de 'RainTomorrow' al valor intermedio del que más tiene y el que menos.

In [27]:
# Balancear las ocurrencias de 'RainTomorrow'
class_counts = df_train['RainTomorrow'].value_counts()
min_count = min(class_counts)

# Tomar una muestra balanceada de cada clase
balanced_df = pd.concat([
    df_train[df_train['RainTomorrow'] == 'Yes'].sample(min_count),
    df_train[df_train['RainTomorrow'] == 'No'].sample(min_count)
])

# Mezclar aleatoriamente el dataframe balanceado
balanced_df = shuffle(balanced_df)

In [28]:
from sklearn.utils import resample

# Balancear las ocurrencias de 'RainTomorrow'
df_majority = df_train[df_train['RainTomorrow'] == 'No']
df_minority = df_train[df_train['RainTomorrow'] == 'Yes']

df_minority_upsampled = resample(df_minority,
                                 replace=True,
                                 n_samples=len(df_majority),
                                 random_state=123)

balanced_df = pd.concat([df_majority, df_minority_upsampled])

RainTomorrow
No     110316
Yes    110316
Name: count, dtype: int64

3. Muestra el número de ocurrencias de los diferentes valores de 'RainTomorrow' para comprobar que el dataset está balanceado.

In [30]:
print(balanced_df['RainTomorrow'].value_counts())

RainTomorrow
No     110316
Yes    110316
Name: count, dtype: int64

# Ejercicio 3. Tratamiento de valores nulos (1 punto)

1. Identifica y elimina del dataset aquellas columnas que tengan más del 40% de sus ocurrencias con valores nulos

In [34]:
# Eliminar columnas con más del 40% de valores nulos
umbral = len(balanced_df) * 0.4
print(umbral)

filtered_df = balanced_df.dropna(thresh=umbral, axis=1)
print(filtered_df.info())

88252.8
<class 'pandas.core.frame.DataFrame'>
Index: 220632 entries, 0 to 27220
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       220632 non-null  object
 1   MinTemp        219550 non-null  float64
 2   MaxTemp        220161 non-null  float64
 3   Rainfall       217508 non-null  float64
 4   Evaporation    125221 non-null  float64
 5   Sunshine       115801 non-null  float64
 6   WindGustDir    205141 non-null  object
 7   WindGustSpeed  205278 non-null  float64
 8   WindDir9am     205904 non-null  object
 9   WindDir3pm     214192 non-null  object
 10  WindSpeed9am   218426 non-null  float64
 11  WindSpeed3pm   216279 non-null  float64
 12  Humidity9am    217461 non-null  float64
 13  Humidity3pm    214601 non-null  float64
 14  Pressure9am    198904 non-null  float64
 15  Pressure3pm    198886 non-null  float64
 16  Cloud9am       139293 non-null  float64
 17  Cloud3pm       135018 non-null  float64
 18  Temp9am        218979 non-null  float64
 19  Temp3pm        216074 non-null  float64
 20  RainToday      217508 non-null  object
 21  RainTomorrow   220632 non-null  object
 22  Month          220632 non-null  int64
dtypes: float64(16), int64(1), object(6)
memory usage: 40.4+ MB
None

2. Del resto de columnas con valores nulos. Completa dichos valores con la última observación válida.

In [50]:
# Rellenar valores nulos con la última observación válida
filled_df = filtered_df.fillna(method='ffill')
print(filled_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 220632 entries, 0 to 27220
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       220632 non-null  object
 1   MinTemp        220632 non-null  float64
 2   MaxTemp        220632 non-null  float64
 3   Rainfall       220632 non-null  float64
 4   Evaporation    215894 non-null  float64
 5   Sunshine       215894 non-null  float64
 6   WindGustDir    220632 non-null  object
 7   WindGustSpeed  220632 non-null  float64
 8   WindDir9am     220632 non-null  object
 9   WindDir3pm     220632 non-null  object
 10  WindSpeed9am   220632 non-null  float64
 11  WindSpeed3pm   220632 non-null  float64
 12  Humidity9am    220632 non-null  float64
 13  Humidity3pm    220632 non-null  float64
 14  Pressure9am    220632 non-null  float64
 15  Pressure3pm    220632 non-null  float64
 16  Cloud9am       220632 non-null  float64
 17  Cloud3pm       220630 non-null  float64
 18  Temp9am        220632 non-null  float64
 19  Temp3pm        220632 non-null  float64
 20  RainToday      220632 non-null  object
 21  RainTomorrow   220632 non-null  object
 22  Month          220632 non-null  int64
dtypes: float64(16), int64(1), object(6)
memory usage: 40.4+ MB
None

# Ejercicio 4. Transformar variables categóricas a numéricas (2.5 puntos)

1. Utiliza LabelEncoder para transformar las variables categóricas "RainToday" y "RainTomorrow", asegurandote de que el mapeo va a ser exactamente igual para las dos columnas.

In [46]:
from sklearn.preprocessing import LabelEncoder

# Transformar 'RainToday' y 'RainTomorrow' usando el mismo mapeo
le = LabelEncoder()
filled_df['RainToday'] = le.fit_transform(filled_df['RainToday'])
filled_df['RainTomorrow'] = le.transform(filled_df['RainTomorrow'])

2. Utiliza one_hot para transformar en numérica la columna Location, ¿cuántas columnas nuevas se han creado? ¿Son las mismas que el número diferente de valores en la columna Location? Posteriormente, elimina la columna Location.

In [48]:
# Transformar la columna Location usando one-hot encoding
location_dummies = pd.get_dummies(filled_df['Location'], prefix='Location')
filled_df = pd.concat([filled_df, location_dummies], axis=1)
filled_df = filled_df.drop(['Location'], axis=1)
print(f"Se han creado {location_dummies.shape[1]} nuevas columnas.")

KeyError: 'Location'

In [51]:
from sklearn.preprocessing import OneHotEncoder

# Transformar la columna Location usando one-hot encoding
onehot = OneHotEncoder(drop='first', sparse=False)
location_encoded = onehot.fit_transform(filled_df[['Location']])
location_encoded_df = pd.DataFrame(location_encoded, columns=onehot.get_feature_names_out(['Location']))

# Añadir las columnas one-hot codificadas y eliminar la columna original
imputed_df = filled_df.drop('Location', axis=1)
imputed_df = pd.concat([filled_df, location_encoded_df], axis=1)
print(f"Se han creado {location_encoded_df.shape[1]} nuevas columnas.")

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

3. Analiza el resto de columnas categóricas y utiliza LabelEncoder para realizar el mismo mapeo. Puedes utilizar cualquiera de las columnas categóricas para ajustar LabelEncoder.

In [52]:
# Transformar el resto de las columnas categóricas
for col in categorical_columns:
    if col in filled_df.columns and col not in ['RainToday', 'RainTomorrow']:
        filled_df[col] = le.fit_transform(filled_df[col])

# Ejercicio 5. Normalizacion (1 punto)

1.  Normaliza el dataframe completo excepto RainTomorrow y RainToday.

In [54]:
from sklearn.preprocessing import MinMaxScaler

# Normalizar el dataframe excepto las columnas 'RainToday' y 'RainTomorrow'
cols_to_normalize = imputed_df.columns.difference(['RainToday', 'RainTomorrow'])
scaler = MinMaxScaler()
imputed_df[cols_to_normalize] = scaler.fit_transform(imputed_df[cols_to_normalize])

ValueError: could not convert string to float: 'WNW'

2. Comprueba que todos los valores se encuentran entre 1 y 0

In [ ]:
# Comprobar que todos los valores están entre 0 y 1
print(filled_df[cols_to_normalize].describe().loc[['min', 'max']])

# Ejercicio 6. División del dataset (2.5 puntos)

1. Divide el dataset en 4 grupos, el primero será el conjunto de entrenamiento y tendrá el 75% de las ocurrencias, el segundo será el conjunto de test con un 15% de las ocurrencias, el tercero será el conjunto de validación y tendrá el 5% de las ocurrencias y finalmente, el de ejemplos tendrá un 5% de las ocurrencias.

In [16]:
# División del dataset
train_size = int(0.75 * len(filled_df))
test_size = int(0.15 * len(filled_df))
validation_size = int(0.05 * len(filled_df))

train_df = filled_df[:train_size]
test_df = filled_df[train_size:train_size+test_size]
validation_df = filled_df[train_size+test_size:train_size+test_size+validation_size]
examples_df = filled_df[train_size+test_size+validation_size:]

# Comprobar los tamaños
print(f"Tamaño del conjunto de entrenamiento: {len(train_df)}")
print(f"Tamaño del conjunto de test: {len(test_df)}")
print(f"Tamaño del conjunto de validación: {len(validation_df)}")
print(f"Tamaño del conjunto de ejemplos: {len(examples_df)}")

Tamaño del conjunto de entrenamiento: 17604
Tamaño del conjunto de test: 3520
Tamaño del conjunto de validación: 1173
Tamaño del conjunto de ejemplos: 1175

In [55]:
from sklearn.model_selection import train_test_split

# División del dataset
train_df, temp_df = train_test_split(imputed_df, test_size=0.25, random_state=42)
test_df, val_examples_df = train_test_split(temp_df, test_size=0.2, random_state=42)
validation_df, examples_df = train_test_split(val_examples_df, test_size=0.5, random_state=42)

2. Comprueba que los tamaños coinciden con lo especificado en el anterior ejercicio

In [56]:
# Comprobar los tamaños
print(f"Tamaño del conjunto de entrenamiento: {len(train_df)}")
print(f"Tamaño del conjunto de test: {len(test_df)}")
print(f"Tamaño del conjunto de validación: {len(validation_df)}")
print(f"Tamaño del conjunto de ejemplos: {len(examples_df)}")

Tamaño del conjunto de entrenamiento: 165474
Tamaño del conjunto de test: 44126
Tamaño del conjunto de validación: 5516
Tamaño del conjunto de ejemplos: 5516