In [5]:
import pandas as pd
data = {'city': ['Mumbai', 'Mumbai', 'Mumbai', 'Hyderabad', 'Hyderabad', 'Hyderabad'],
        'year': [2010, 2011, 2012, 2010, 2011, 2012,],
        'population': [10.0, 10.1, 10.2, 5.2, 5.3, 5.5]}

df_ejercicios = pd.DataFrame(data,index = ['one', 'two', 'three', 'four', 'five', 'six'])
df_ejercicios

            city  year  population
one       Mumbai  2010        10.0
two       Mumbai  2011        10.1
three     Mumbai  2012        10.2
four   Hyderabad  2010         5.2
five   Hyderabad  2011         5.3
six    Hyderabad  2012         5.5

**Ejercicio 1.** Escribe un programa que muestre las 3 primeras filas de df_ejercicios

**Ejericicio 2 .** Crea una función que dado un dataframe y el nombre de una columna, muestre los valores de dicha columna.

**Ejercicio 3.** Crea una función que dado un dataframe y el nombre de un índice, muestre los valores de dicha fila.

**Ejercicio 4.** Crea una función que dado un dataframe y un array de índices, muestre los valores de dichas filas.

**Ejercicio 5.** Escribe un programa que modifique la columna population con valores obtenidos aleatoriamente entre 5 y 10.

**Ejercicio 6.** Elimina la columna population.