In [1]:
import pandas as pd
data = {'city': ['Mumbai', 'Mumbai', 'Mumbai', 'Hyderabad', 'Hyderabad', 'Hyderabad'],
        'year': [2010, 2011, 2012, 2010, 2011, 2012,],
        'population': [10.0, 10.1, 10.2, 5.2, 5.3, 5.5]}

df_ejercicios = pd.DataFrame(data,index = ['one', 'two', 'three', 'four', 'five', 'six'])
df_ejercicios

            city  year  population
one       Mumbai  2010        10.0
two       Mumbai  2011        10.1
three     Mumbai  2012        10.2
four   Hyderabad  2010         5.2
five   Hyderabad  2011         5.3
six    Hyderabad  2012         5.5

**Ejercicio 1.** Escribe un programa que muestre las 3 primeras filas de df_ejercicios

In [2]:
import pandas as pd

data = {
    'city': ['Mumbai', 'Mumbai', 'Mumbai', 'Hyderabad', 'Hyderabad', 'Hyderabad'],
    'year': [2010, 2011, 2012, 2010, 2011, 2012],
    'population': [10.0, 10.1, 10.2, 5.2, 5.3, 5.5]
}

df_ejercicios = pd.DataFrame(data, index=['one', 'two', 'three', 'four', 'five', 'six'])
print(df_ejercicios)

            city  year  population
one       Mumbai  2010        10.0
two       Mumbai  2011        10.1
three     Mumbai  2012        10.2
four   Hyderabad  2010         5.2
five   Hyderabad  2011         5.3
six    Hyderabad  2012         5.5

**Ejericicio 2 .** Crea una función que dado un dataframe y el nombre de una columna, muestre los valores de dicha columna.

In [3]:
df_mumbai = df_ejercicios[df_ejercicios['city'] == 'Mumbai']
print(df_mumbai)

         city  year  population
one    Mumbai  2010        10.0
two    Mumbai  2011        10.1
three  Mumbai  2012        10.2

**Ejercicio 3.** Crea una función que dado un dataframe y el nombre de un índice, muestre los valores de dicha fila.

In [4]:
mean_population = df_ejercicios['population'].mean()
median_population = df_ejercicios['population'].median()
std_population = df_ejercicios['population'].std()

print(f"Mean Population: {mean_population}")
print(f"Median Population: {median_population}")
print(f"Standard Deviation of Population: {std_population}")

Mean Population: 7.716666666666666
Median Population: 7.75
Standard Deviation of Population: 2.6133630950686255

**Ejercicio 4.** Crea una función que dado un dataframe y un array de índices, muestre los valores de dichas filas.

In [5]:
df_ejercicios['population_pct_change'] = df_ejercicios['population'].pct_change()
print(df_ejercicios)

            city  year  population  population_pct_change
one       Mumbai  2010        10.0                    NaN
two       Mumbai  2011        10.1               0.010000
three     Mumbai  2012        10.2               0.009901
four   Hyderabad  2010         5.2              -0.490196
five   Hyderabad  2011         5.3               0.019231
six    Hyderabad  2012         5.5               0.037736

**Ejercicio 5.** Escribe un programa que modifique la columna population con valores obtenidos aleatoriamente entre 5 y 10.

In [7]:
import numpy as np
grouped_by_city = df_ejercicios.groupby('city')['population'].mean()
print(grouped_by_city)

np.random.seed(0)  # Para reproducibilidad

df_ejercicios['population'] = np.random.uniform(5, 10, size=len(df_ejercicios))

city
Hyderabad     5.333333
Mumbai       10.100000
Name: population, dtype: float64

**Ejercicio 6.** Elimina la columna population.